<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
        {% for project in projects %}
        <li>
            <h2>ID: <a href="{% url 'projects:genreq' project.id %}">{{ project.id }}</a></h2>
            <h2>Name:{{ project.name }}</h2>
            <h2>Location: {{ project.location }}</h2>
            <h2>Owner: {{ project.owner }}</h2>
            <h2>Duration: {{ project.duration }}days</h2>
        </li>
        {% endfor %}
    </ul>
</body>
</html2