<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>h!</h1>
{% for project in projects %}
    <h1>{{ project.name }}</h1>
{% endfor %}
    <ul>
        {% for items in gen_req %}
        <li>Project Supervision: ${{ items.project_supervision }}</li>
        <li>Delivery of Materials: ${{ items.delivery }}</li>
        <li>Service Vehicle: ${{ items.service_vehicle }}</li>
        <li>Water Consumption: ${{ items.water_consumption }}</li>
        <li>Power Consumption: ${{ items.power_consumption }}</li>
        <li>First Aid: ${{ items.first_aid }}</li>
        {% endfor %}
    </ul>
</body>
</html>