<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>h!</h1>
    <h1>{{ project.id }}</h1>
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Description</th>-->
<!--                <th>Quantity</th>-->
<!--                <th>Unit</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            {% for pay_item in pay_items %}-->
<!--                <tr>-->
<!--                    <td>Mobilization: {{ pay_item.mobilization }}</td>-->
<!--                    <td>{{ pay_item.occupational_safety }}</td>-->
<!--                    <td>{{ pay_item.temporary_facility }}</td>-->
<!--                    <td>{{ pay_item.reinforce_concrete }}</td>-->
<!--                    <td>{{ pay_item.masonry_works }}</td>-->
<!--                    <td>{{ pay_item.steel_works }}</td>-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
</body>
</html>