<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ gen_req.name }}</h1>

    <ul>
        <li>{{ gen_req.project_supervision }}</li>
        <li>{{ gen_req.delivery }}</li>
        <li>{{ gen_req.service_vehicle }}</li>
        <li>{{ gen_req.water_consumption }}</li>
        <li>{{ gen_req.power_consumption }}</li>
        <li>{{ gen_req.power_consumption }}</li>
        <li>{{ gen_req.first_aid }}</li>
    </ul>
</body>
</html>