{% extends "workforce/layout.html" %}

{% block body %}
    <h1>Manpower</h1>
    <!-- <ul>
        {% for manpower in manpowers %}
            <li>{{ manpower.id }}: {{ manpower.first }} {{ manpower.last }}: {{ manpower.rate }}</li>
        {% endfor %}
    </ul> -->

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>RATE</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.first }}</td>
                    <td>{{ employee.last }}</td>
                    <td>{{ employee.rate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}